*{
    font-family: 'Poppins';
    color:rgb(255, 255, 255);
    p{
        color:#c2c2c2;
    }
}

body{
    background: #1b1b1b;
}

@media (min-width: 1400px){
    .container{
        max-width:1300px;
    }
}

/* ------------------------------------------------------------------------------------------------------ */

footer{
    background: black;
    .container a#logo{
        font-size: 25px;
    }
    a#git_link,
    a#ref_link,
    a#link_ref
    {
        text-decoration: none;
        color: inherit;
    }
    a#git_link:hover,
    a#ref_link:hover,
    a#link_ref:hover{
            color:#FFFFFF;
    }
}






















/* ------------------------------------------------------------------------------------------------------ */
/* start navbar */
nav{
    background: #1b1b1b;
}
.navbar-toggler{
    border:none !important;
    /* color:rgb(255, 255, 255) !important; */
}

nav a#logo{
    font-size: 25px !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover{
    color:gold;
}
.navbar-nav .nav-link{
    color:white;
}
/* end navbar */
/* ------------------------------------------------------------------------------------------------------ */
/* start hero */
.hero{
    padding:250px 0px 250px 0px;
    position:relative;    
    justify-content: center;
    align-items: center;
}
.hero #bg_blur{
    background-image: radial-gradient(ellipse closest-side, rgba(255, 230, 0, 0.7), #1b1b1b);
    width: 500px;
    height: 500px;
    position:absolute;
    animation: fadeInOpacity 1.5s ease forwards;
}

@keyframes fadeInOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.1; /* Adjust the final opacity value as needed */
    }
}


.hero .content{
    position:relative;
    z-index :100;
}

.hero h1 span#left,
.hero h1 span#right{
    opacity: 25%;
}

.hero h1 span#cent_text,
.hero h1 span#left,
.hero h1 span#right,
.hero h1 span#slash{
    font-size:clamp(40px,15vw,135px);
}

.hero h1 span#left,
.hero h1 span#right{
    font-family:Generalsans, sans-serif;
}

.hero h1 span#slash{
    background: linear-gradient(to left,#ffd900, #664b08);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero p{
    color:#51a953;    
    font-style:italic;
    font-size:clamp(20px,2vw,25px);
}
/* end hero */
/* ------------------------------------------------------------------------------------------------------ */
/* start welcome */
.welcome{
    /* background: #292929; */
    /* padding:20px 200px 250px 200px; */
    padding:20px 0px 180px 0px;
}

.welcome h1{
    font-weight: bold;
    padding:20px 0px;
    font-size: clamp(23px,2.5vw,28px);
    button{
        font-size: clamp(28px,3vw,40px);
    }
}

.welcome .container #paragraph{
    height:auto;
    background: #292929;
    border-radius:10px;
    padding:10px;

}

.welcome .container #paragraph.hidden{
    display:none;
    visibility:hidden;
}


.welcome .container #paragraph #bottom.hidden{/* state changing show/hidden. */
    padding-bottom:36px;

    p{
        display:none;
        visibility:hidden;
    }
}

.welcome .container #paragraph div#line{
    height:2px;
    background: #000;
    margin:0px 20px;
}

.welcome .container #paragraph #buttons {
    margin:0px 10px;
}
.welcome .container #paragraph #buttons #minimize_button,
.welcome .container #paragraph #buttons #color_button,
.welcome .container #paragraph #buttons #hide_button{
    width: 20px;
    height: 20px;
    border-radius: 50%; 
}

.welcome .container #paragraph #buttons #minimize_button{
    background-color: rgb(32, 193, 56);
}
.welcome .container #paragraph #buttons #color_button{
    background-color: rgb(249, 182, 35)
}
.welcome .container #paragraph #buttons #hide_button{
    background-color: rgb(234, 90, 74);
}

.welcome h1 button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.welcome h1 span#hidden_text.hidding{
    display: none;
}
.welcome h1 span#hidden_text.showing{
    display:inline;
}

.welcome .container p{
    margin:20px;
    font-size: clamp(15px,2vw,20px);
    text-align: justify;
    color:rgb(139, 204, 112);
    font-family:Consolas;
}

@keyframes minimizeAnimation {/* welcome paragraph section animation */

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes closeAnimation {/* welcome paragraph section animation */

    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.show {
    animation: minimizeAnimation 0.8s forwards;
}

/* end welcome */
/* ------------------------------------------------------------------------------------------------------ */
/* start about */
.about{
    padding: 70px 0px 200px 0px;
}

.about .container #section_about_start span{
    padding-bottom: 80px;
    font-size: 35px;
}
.about .container #section_about_end span{
    padding-top: 80px;
    font-size: 35px;
}

.about h1 span#left,
.about h1 span#right,
.about h1 span#slash{
    opacity: 25%;
}

.about h1 span#left,
.about h1 span#right,
.about h1 span#cent_text{
    font-family:Generalsans, sans-serif;
    
}

.about #me,
.about #edu{
    padding-bottom: 60px;
}

.about #me #left h2,
.about #edu #left h2,
.about #skill h2{
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    font-weight:900;
    font-size:clamp(40px,3vw,45px);
    margin:0;
    padding-bottom: 20px;
}

.about #me #right p,
.about #edu #right p{
    text-align: justify;
    font-size:clamp(15px,2vw,20px);
}

.about #me #right p,
.about #edu #right p{
    padding:0px 0px 50px 0px;
}

.about #skill #box h4{
    padding-left:5px;
    font-size:25px;
    font-weight:900;
}
.about #skill #box p{
    text-align: justify;
    font-size:clamp(15px,2vw,20px);
}

.about #skill #box{
    img#css,
    img#php{
        margin:7px;
    }
    img#js{
        margin:9px;
    }
    img#bs,
    img#sql{
        margin:12px;
    }
}


/* end about */
/* ------------------------------------------------------------------------------------------------------ */
/* start project */
.project{
    padding: 70px 0px 200px 0px;
}

.project .container #section_project_start span{
    padding-bottom: 80px;
    font-size: 35px;
}

.project .container #section_project_end span{
    padding-top: 80px;
    font-size: 35px;
}

.project h1 span#left,
.project h1 span#right,
.project h1 span#slash{
    opacity: 25%;
}

/* .project h1 span#slash{
    background: linear-gradient(to left,#ffdc18, #946e0c );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
} */

.project h1 span#left,
.project h1 span#right,
.project h1 span#cent_text{
    font-family:Generalsans, sans-serif;
}

.project h2{
    font-size: 40px;
}
.project p{
    font-size:clamp(15px,2vw,20px);
}
/* end project */
/* ------------------------------------------------------------------------------------------------------ */
/* start contact */
.contact{
    padding: 100px 0px 200px 0px;
}

.contact .container #left h2,
.contact .container #left h3,
.contact .container #right h2{
    font-weight: 700;
}

.contact .container #left h2,
.contact .container #right h2{
    font-size: 32px;
}

.contact .container #left h3{
    font-size: 28px;
}
.contact .container .row #left p{
    font-size:clamp(15px,2vw,20px);
}

.contact .container .row #left #con_contact p{
    text-align-last: center;
    text-align: justify;
    padding-bottom: 50px;

}

.contact .container .row #left #con_loc p,
.contact .container .row #left #con_mail p,
.contact .container .row #left #con_phone p{
    padding-bottom: 30px;
}

.contact .container #left h2{
    padding-bottom: 40px;
}


.contact .container #right{
    background: #212121;
    margin-top:-40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Adding box shadow for the floating effect */
    padding:40px 50px;
}

@media (max-width: 1400px){
    .contact .container #right{
        margin-top:40px;
        padding:40px 50px;
    }

}

.contact .container #right h2{
    padding-bottom: 50px;
}

.contact .container #right #name,
.contact .container #right #phone,
.contact .container #right #email,
.contact .container #right #msg{
    position:relative;
    height:40px;
    width:100%;
    
}

.contact .container #right #name,
.contact .container #right #phone,
.contact .container #right #email,
.contact .container #right #msg{
    padding-bottom: 110px;
    label{
        bottom:90px;
    }
}

.contact .container #right #name input,
.contact .container #right #phone input,
.contact .container #right #email input,
.contact .container #right #msg input{
    height:60px;
    width:100%;
    border:none;
    background: none;
    border-bottom: 2px solid #7f7f7f;
}

.contact .container #right #name label,
.contact .container #right #phone label,
.contact .container #right #email label,
.contact .container #right #msg label
{
    position:absolute;
     /* Adjust as needed */
    left: 0;
    color:#7f7f7f;
}

.contact .container #right button{
    
    background: #343434;
    color:#7f7f7f;
    padding:20px;
    
    flex-direction: column;
    
}
#con_mail{
    text-align: center;
}

h3 {
    display: inline-block;
    position: relative;
}

svg{
    position: absolute;
    right: -40px;
    top:0px;
}

#con_resume{
    button{
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
    }
}



svg:hover{
    .copy{
        fill: white;

    }
    #download{
        stroke: white;
    }
}

/* end contact */

